.container {
    width: 375px;
    height: 125px;
    position: absolute;
    z-index: 1;
}
figure    {
    position: absolute;
    z-index: 2;
}
img {
    float: left;
    width: 750px;
    height: 350px;
    object-fit: cover;
    background-position: center;
}
#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
}
@keyframes slider {
    0% {left: 0;}
    20% {left: 0;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}  
}